@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(243, 245, 243);
    font-family: "Roboto";
    min-height: 20vh;
}

footer nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: none;
}


footer #Logo{
    margin: 0;
}

#facebook{
    font-size: 2em;
    color: #20405d;
}

#whatsapp{
    font-size: 2em;
    color: rgb(121, 121, 121)
}

#instagram{
    font-size: 2em;
    color: #DC2D2D;
}


