@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(243, 245, 243);
    font-family: "Roboto";
    min-height: 20vh;
}

footer nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: none;
    background-color: rgb(243, 245, 243);
    margin: 0 0 1em 0;
}

footer #Logo{
    margin: 0;
}

#facebook{
    font-size: 2em;
    color: #20405d;
    transition: 0.8s;
}

#whatsapp{
    font-size: 2em;
    color: rgb(121, 121, 121);
    transition: 0.8s;
}

#instagram{
    font-size: 2em;
    color: #DC2D2D;
    transition: 0.8s;
}

#facebook:hover{
    color: #DC2D2D;
}

#whatsapp:hover{
    color: #25D366;
}

#instagram:hover{
    color: #20405d;
}

@media (min-width: 1000px){
    footer nav{
        width: 30%;
    }
}


