#Contendor-info{
    position: relative;
    height: 80vh;
    width: 100%;
    display: flex;
}

.Articulos-info{
    height: 380px;
    width: 330px;
    padding: 1.5em 2em;
    text-align: center;
    background: #fff;
    outline-offset: 10px;
    font-size: 12px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: var(--shadow) !important;
    box-sizing: border-box;
}

.Articulos-info h3{
    margin: 1em 0;
    color: rgb(0, 0, 0);
    font-size: 15px
}

.Articulos-info img{
    width: 100%;
    height: 80%;
    object-fit: contain;
}