@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.h2-solicitar {
    font-size: 38px;
    font-weight: 900;
    margin: 0;
}

#Solicitar-article {
    margin: 6em 0 0 0;
}

/** Articles **/

.article-beca{
    padding: 1em;
    margin: 1em 0 2em 0;
    text-align: center;
}

.article-beca h3{
    font-size: 25px;
}

.article-beca p{
    font-size: 20px;
    margin: 1em 0;
}

.article-beca li{
    font-size: 22px;
    margin: 0.5em 0;
    transition: 0.5s;
}

.article-beca li:hover{
    font-size: 1.5em;
    font-weight: 600 ;
}

/** Requisito **/

#Requisitos {
    width: 100%;
    margin: 1em 0;
    background-image: var(--gradient);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    box-shadow: var(--shadow);
}

#Requisitos li{
    color: #fff;
}

/** VIDEO **/

#flex-video{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2em 0;
}

/** FORM **/

#form-solicitar{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px;
    background-color: #fff;
    align-items:center;
    border-radius: var(--border-radius);
    box-shadow: 2px 4px 23px 4px rgba(0, 0, 0, 0.25);
}

#preguntas-fieldset{
    margin: 2.5em 0;
}

#form-article{
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#recuadro-form{
    width: 90%;
}

#recuadro-form form{
    padding: 2em;
    margin: 1em 0;
}

#form-article p{
    margin: 1em 0;
    text-align: center;
    font-size: 20px;
}

legend{
    text-align: center;
}

label{
    text-align: center;
}

.flex-radio{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.solicitar-radio{
    width: 30%;
}

.flex-radio{
    width: 85%;
}


@media (min-width: 500px) {
    #recuadro-form {
        width: 70%;
    }
}

@media (min-width: 650px) {

    #form-solicitar input{
        padding: 13px;
    }

    #compromiso{
        margin: 5em 0 5em 0;
    }
    .h2-solicitar {
    font-size: 60px;
    }

    .article-beca li{
        font-size: 30px;
        padding: 0 2em;
    }

    .article-beca li:hover{
        font-size: 34px;
    }

    #Solicitar-article {
        margin: 2em 0 0 0;
    }

    .article-beca h3 {
        font-size: 38px;
    }

    #solicitar-p {
        font-size: 35px !important;
    }

    .article-beca p {
        font-size: 30px;
        margin: 1em 0;
        padding: 0 2em;
    }

    #recuadro-form {
        width: 60%;
    }
}

@media (min-width: 1000px) {
    .article-beca h3 {
        font-size: 42px;
    }

    .article-beca li{
        font-size: 35px;
    }

    #solicitar-p {
        font-size: 35px !important;
        padding: 0 2em;
    }

    .article-beca li:hover{
        font-size: 40px;
    }

    .video-youtube-incrustado {
        margin: 0;
        height: 13em;
        font-size: 1.2em;
        width: 24em;
    }
}