@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*---------------------------------------------------Main-----------------------------------------------------------*/
/*----------------------------------------------Primer Section------------------------------------------------------*/

#solicitar-main{
    font-family: "Roboto";
}

#solicitar-main{
    padding: 0;
}

.solicitar-article{
    width: 95vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 8px 0;
    margin: 4em 0;
}

.solicitar-article h2 {
    width: 100%;
    margin: 1em 0 1em 0;
}

.solicitar-article h3 {
    width: 86%;
    text-align: center;
    margin: 0 0 1.5em 0;
    border-top: 1px solid #DC2D2D;
    border-bottom: 1px solid  #04398c;
    padding: 3px;   
}

.solicitar-article figure {
    width: 100%;
}

.article-uno {
    display: flex;
}
.solicitar-article figure img {
    width: 100%;
    border-radius: 6px;
    margin: 3em 0;
    box-shadow: 0px 0px 12px -4px rgb(0 0 0 / 48%);
}

.solicitar-article > figure > img:hover {
    box-shadow:0px 0px 10px rgba(100,100,100,0.50);
}

.textos-p {
    margin: 10px 0 0 0;
    font-size: 16px;
    text-align: center;
    padding: 0 1em 0 1em;
    width: 100%;
}

.p-requisitos {
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
    font-size: 16px;
    text-decoration: underline;
}

.solicitar-article li {
    font-size: 20px;
    margin: 0.5em 0 0.5em 0;
}

.solicitar-article ol {
    width: 90%;
    margin-left: 8px;
}



/*----------------------------------------------Segundo Section----------------------------------------------------*/

.h2-2do-section {
    text-align: center;
    margin: 1em 0 1em 0;
    padding: 0 0.5em 0 0.5em;
}

#solicitar-main section{
    padding: 0;
}

#solicitar-main section form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

/* #solicitar-main section form fieldset {
    width: 100%;
    border:none;
    margin: 15px 0 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
} */

#solicitar-main section form fieldset legend{
    width: 100%;
}

#solicitar-main section form fieldset label {
    width: 50%;
    margin: 15px 0 10px 0;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}
    
#solicitar-main input {
    margin: 5px 0;
    padding: 8px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
}

#solicitar-main section form label {
    width: 100%;
    margin: 5px 0;
}

.flex-radio{
    display: flex;
    width: 75%;
    align-items: center;
    justify-content: center;
    margin: 1em 0;
}

.solicitar-radio{
    width: 20%;
}

#solicitar-main section form label input{
    width: 100%;
    padding: 5px;
}

.fieldset-formacion-academica-actual {
    margin: 5px 0;
}

.label-formacion-academica-actual {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

.legend-formacion-academica-actual {
    width: 100%;
}


.input-formacion-academica-actual {
    width: 100%;
}

.label-fecha-de-nacimiento {
    font-size: 11px;
}

.input-label-fecha-de-nacimiento {
    margin-top: 3px;
}

.p-label-leyenda-small {
    margin: 3px 0 3px 5px;
    opacity: 0.650;
}

.confirma-tu-correo-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: yellow;
    border-radius: 4px;
    padding: 6px;
    margin: 20px 0 20px 0;
    font-size: 16px;
}

.p-consentimiento-datos {
    width: 100%;
    font-size: 14px;
}


.input-label-consentimiento-datos {
    width: 10%;
}

.p-input-label-consentimiento-datos {
    width: 90%;
    
}

.flex-acepto{
    display: flex;
    width: 100%;
}

.button-form {
    width: 40%;
    background-color: #DC2D2D;
    padding: 2px;
    margin-bottom: 20px;
    height: 30px;
    border-radius: 8px;
    color: #ffffffff;
    border:none;
    transition: 0.5s;
}

.button-form:hover {
    background-color: #04398c;
}

.imagen-como-funciona-la-beca-desktop {
    display: none;
}

.section-form-desktop {
    border-left: 1px solid #DC2D2D;
    border-radius: 8px;
    border-top: 1px solid #04398c;
    border-right: 1px solid #04398c;  
    border-bottom: 1px solid #DC2D2D;
    margin: 1em;
    padding: 1em;
}




/*----------------------------------------------Medias Queries--------------------------------------------------*/

/*-------------------------------1er Media Query-----------------------------------------*/

@media(min-width:500px){

.solicitar-article figure {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.solicitar-article figure img {
    width: 472px;
}

.imagen-oportunidad-que-todo-estudiante-merece {
    width:400px;
}
.solicitar-article h3 {
    width: 55%;
}


}

/*-------------------------------2da Media Query-----------------------------------------*/

@media(min-width:769px) {

    .solicitar-article figure img {
    display: none;  
}

.figure-imagen-como-funciona-la-beca-desktop {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.imagen-como-funciona-la-beca-desktop {
    display: flex;
    width: 100%;
    margin-top: 10px;
    max-width: 729px;
}

.section-form-desktop {
    max-width: 65%;
}


#solicitar-main section form {
    max-width: 844px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.solicitar-article{
    max-width: 1111px;
}

.solicitar-article h3 {
    font-size: 23px;
    width: 43%;
    max-width: 455px;
}

.solicitar-article h2 {
    font-size: 2.5em;
}

}