@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#main-nosotros section {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#nosotros-1 {
    margin: 4em 0 0 0;
}

#nosotros-1 h2 {
    width: 100%;
    text-align: center;
    font-family: "Roboto";
    font-size: 20px;
    color: black;
}

#main-nosotros section p {
    width: 100%;
    font-family: "Roboto";
    font-size: 16px;
    text-align: left;
    margin: 5px 0 20px 0;
}

#main-nosotros section h3 {
    width: 100%;
    text-align: left;
    font-size: 18px;
    font-family: "Roboto";
}

#main-nosotros section ul {
    width: 70%;
    font-family: "Roboto";
    font-size: 16px;
    margin-top: 3px;
    margin-bottom: 30px;
}

#main-nosotros section article {
    width: 100%;
}

#titulo-equipo-tierra-de-genios {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 10px;
}

#article-box-integrantes-equipo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#main-nosotros section article img {
    width: 100%;
}

.nombre-integrante {
    width: 100%;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
}

.box-integrante-equipo {
    border-top: 1px solid #DC2D2D; 
    border-right: 1px solid #DC2D2D;
    border-bottom: 1px solid #04398c;
    border-left: 1px solid #04398c;
    margin-bottom: 20px;
    border-radius: 6px;
    transition: all 1s;
}

.box-integrante-equipo:hover {
    box-shadow:0px 0px 10px rgba(100,100,100,0.70);
}


/*----------------------------Second Section----------------------------*/

#main-nosotros section form {
    width: 100%;
    padding: 8px;
    max-width: 567px;
    border-top: 1px solid #04398c; 
    border-right: 1px solid #04398c;
    border-bottom: 1px solid #DC2D2D;
    border-left: 1px solid #DC2D2D;
    margin-bottom: 20px;
    border-radius: 6px;
    transition: all 1s;
}

#main-nosotros > section > form:hover {
    box-shadow:0px 0px 10px rgba(100,100,100,0.70);
}

#titulo-formulario {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

#main-nosotros section form label {
    width:100%;    
}

#main-nosotros section form label input {
    width: 100%;
    margin:4px 0;
    padding: 4px;
}

.label-fecha-de-nacimiento {
    font-size: 11px;
    margin-left: 3px;
    color: rgba(0,0,0,0.7);
}

#main-nosotros section form label textarea {
    width: 100%;
    padding: 4px;
}

#main-nosotros section form fieldset {
    border:none;
    border-radius: 3px;
    margin: 2px 0 4px 0;
}

#main-nosotros section form fieldset label {
    font-size: 11px;
    margin-left: 3px;
    color: rgba(0,0,0,0.7);
}

#main-nosotros section form fieldset input {
    width: 100%;
    border: 1px solid rgba(0,0,0,0.6);
    border-radius: 2px;
    padding: 4px;
    margin-top: 2px;
}

.p-consentimiento-datos{
    width: 100%;
    font-size: 14px;
    font-family: "Roboto";
    margin-top: 15px;
}

.label-checkbox {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.input-label-consentimiento-datos {
    width: 10%;
}

.p-input-label-consentimiento-datos {
    width: 80%;
}

.fieldset-button {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
    
.button-form {
    width: 70%;
    background-color: #DC2D2D;
    padding: 2px;
    margin-bottom: 20px;
    height: 30px;
    border-radius: 8px;
    color: #ffffffff;
    border:none;
    align-self: center;
    transition: all 1s;
}

.button-form:hover {
    background-color: #04398c;
}


/*------------------------Media Query------------------------*/

/*--------------------1ra Media Query--------------------*/

@media(min-width:500px){

    #article-box-integrantes-equipo {
        justify-content: space-between;
    }

    .box-integrante-equipo {
        width: 49%;
    }

}

/*--------------------2da Media Query--------------------*/

@media(min-width:769px){
    .box-integrante-equipo {
        width: 30%;
    }

    #main-nosotros section ul {
        width: 88%;
    }
}

/*--------------------3ra Media Query--------------------*/

@media(min-width:1000px){
    .box-integrante-equipo {
        width:19%;
    }

    #main-nosotros section {
        max-width: 1083px;
    }
}